# 🌰 Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# 🌰 Environment
.env
.env.local

# 🌰 Data
data/
*.csv
*.json
/resources/
/assets/jsconfig.json
/public/
.hugo_build.lock

# Misc
.DS_Store

# Python
**/__pycache__/

# Node
node_modules
