{
  "semi": true,
  "singleQuote": true
  "trailingComma": "all",
  "printWidth": 80
}
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
