[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
requests = "*"
requests-toolbelt = "*"
brotli = "*"
httpx = "*"

[dev-packages]
datamodel-code-generator = "*"

[requires]
python_version = "3.10"
