.collapsible {
  // control containers
  h2, h3, h4, h5, h6 {

    display: grid;
    grid: auto / auto max-content;
    align-items: center;
  }

  // current page
  .anchor[aria-current="page"] {
    font-weight: bold;
  }

  .collapsible-control {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;

    &:hover {
      font-weight: 400;
    }

    &[aria-expanded="false"]:after {
      content: "";
    }

    &[aria-expanded="true"]:after {
      content: "";
    }
  }
}
