.collapsible {
  // control containers
  h2, h3, h4, h5, h6, .section-item {
    display: grid;
    grid: auto / auto max-content;
    align-items: center;
  }

  // current page
  .anchor[aria-current="page"] {
    font-weight: bold;
  }

  .collapsible-control {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;

    &:hover {
      font-weight: 400;
    }

    &[aria-expanded="false"]:after {
      content: "";
    }

    &[aria-expanded="true"]:after {
      content: "";
    }
  }

  .collapsible-control,
  .section-item > .size {
    width: 30px;
    text-align: center;
  }
}

.book-toc .collapsible {
  h2 {
    font-size: 1em;
  }

  .anchor {
    color: black;
    font-weight: bold;
  }
}
