.center {
    text-align: center;
}

.post-meta {
  .taxonomy-list {
    font-size: .85em;

    .taxonomy-name {
      font-size: .85em;
      font-weight: 600;
      text-transform: uppercase;
      color: hsl(0, 0%, 45%);
    }
  }
}

.book-search {
  margin-left: -0.5rem;
}

.book-submenu {
  h3 {
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
  }

  ul {
  }
}

.book-submenu ~ .book-submenu {
  margin-top: 1.5rem;
}

.book-page >.taxonomy-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  .taxonomy-item {
    font-size: 1.1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 10px;
    color: black;

    &:hover {
      border-color: var(--color-link);
      color: var(--color-link);
    }
  }
}
