.center {
    text-align: center;
}

.post-meta {
  .taxonomy-list {
    font-size: .85em;

    .taxonomy-name {
      font-size: .85em;
      font-weight: 600;
      text-transform: uppercase;
      color: hsl(0, 0%, 45%);
    }
  }
}

.book-search {
  margin-left: -0.5rem;
}


.book-tree {
  font-size: .9em;

  ul {
    padding: 0 0 0 .5rem;
  }

  .submenu {
    h2 {
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.1em;
    }

    > ul {
      padding: 0;
    }
  }

  .submenu ~ .submenu {
    margin-top: 1.5em;
  }

  .subsection {
    li {
      margin: 0;
    }

    li ~ li {
      margin-top: .5em;
    }

    li:last-child {
      margin-bottom: 1.5em;
    }
  }
}

.book-page >.taxonomy-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  .taxonomy-item {
    font-size: 1.1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 10px;
    color: black;

    &:hover {
      border-color: var(--color-link);
      color: var(--color-link);
    }
  }
}
