{{ define "main" }}
  {{ $paginator := .Paginate (.Pages.ByTitle) 50 }}

  <ul class="taxonomy-list">
    {{ $lastDropCap := "" }}
    {{ $currDropCap := "" }}

    {{ range $paginator.Pages }}
      {{ $currDropCap = .Title | upper | truncate 1 "" }}

      {{ if not (eq $currDropCap $lastDropCap) }}
        {{ if not (eq $currDropCap "") }}
        </ul>
        {{ end }}

        <ul class="taxonomy-section">
          <h2>{{ $currDropCap }}</h2>
      {{ end }}

      {{ $lastDropCap = $currDropCap }}
          <a class="taxonomy-item" href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
